                                        @import "blocks/la-madre-que-me-pario";
                                        .hola {
                                            display: flex;
                                            justify-content: space-between;
                                        }
                                        
                                        .hola {
                                            display: flex
                                        }
                                        
                                        .container {
                                            justify-content: space-between;
                                            margin: 18px;
                                            display: flex;
                                        }
                                        
                                        .texto {
                                            justify-content: space-between;
                                            width: 104%;
                                            display: flex;
                                        }
                                        
                                        .centro {
                                            margin: 50%;
                                        }
                                        
                                        .hola2 {
                                            text-align: center;
                                        }
                                        
                                        .cuadro {
                                            border-style: ridge;
                                        }
                                        
                                        .centro1 {
                                            text-align: center;
                                        }
                                        
                                        .hola3 {
                                            text-align: center;
                                            margin-top: 5%;
                                        }